---
apiVersion: batch/v1
kind: Job
metadata:
  generateName: cypress-test-
spec:
  backoffLimit: 0
  template:
    metadata:
      labels:
        run: cypress-test-unique
    spec:
      restartPolicy: Never
      containers:
        - name: cypress-test
          image: cypress:latest
          imagePullPolicy: Always
          readinessProbe:
            tcpSocket:
              port: 15021
            initialDelaySeconds: 300
            periodSeconds: 30
          volumeMounts:
            - name: aws
              mountPath: /root/.aws
          env:
            - name: CYPRESS_testType # It will take all regions one by one and create pods from entrypoint.sh script
              value: ''
            - name: CYPRESS_onboardingUrl
              value: {{ CYPRESS_onboardingUrl }}
            - name: CYPRESS_apiUrl
              value: {{ CYPRESS_apiUrl }}
            - name: CYPRESS_apiHostUrl
              value: {{ CYPRESS_apiHostUrl }}
            - name: AWS_DEFAULT_REGION
              value: {{ AWS_DEFAULT_REGION }}
          command: ["/bin/bash"]
          args:
          - -c
          - DEBUG=cypress:server:plugins DEBUG_DEPTH=0 npm run test_ci
      volumes:
      - name: aws
        hostPath:
          path: ${HOME}/.aws          

